.container {
    display: grid;
    grid-template-columns: 30px auto;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: black, 1px, solid;
}

article {
    border: black, 1px, solid;
}