/* div,
nav,
header,
footer,
main {
  border: 1px solid black;
} */

/* Media Queries */

@media (min-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 70px;
  }
}

/* Main Structure  */

body {
  margin: 0;
  padding: 0;
  background-color: #4aaaa5;
  background-image: url("../images/interlaced.png");
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px 0;
  background-color: #ffffff;
  margin: 0 auto;
}

h3 {
  font-size: 20px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

hr {
  padding: 0;
  color: black;
}

ul {
  float: right;
  list-style-type: none;
  margin: 0;
  position: relative;
  right: -10px;
}

a {
  text-decoration: none;
  color: #4aaaa4;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  background: #666;
  padding: 11px;
  color: #fff;
}

figure {
  font-size: larger;
  text-align: center;
  font-style: italic;
}

form {
  width: 400px;
  padding: 10px;
}

form div {
  margin-top: 12px;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 12px sans-serif;
  width: 300px;
  border: 1px solid #4aaaa4;
  box-sizing: border-box;
}

textarea {
  vertical-align: top;
  height: 60px;
}

/* Pseudo Styles */

li a:hover {
  animation: blink-down 0.5s ease-in;
}

@keyframes blink-down {
  0% {
    padding-bottom: 1px;
    border-bottom: 0px solid #fff;
  }
  50% {
    border-bottom: 3px solid #4aaaa4;
    padding-bottom: 4px;
  }
  100% {
    padding-bottom: 1px;
    border-bottom: 0px solid #fff;
  }
}

.active-page,
.active-page a {
  background-color: #4aaaa4;
  color: #fff;
}

input:focus,
textarea:focus {
  border-color: #fff;
}

@keyframes border-grow {
  0% {
    border: 0.5px solid #4aaaa5;
  }
  50% {
    border: 10px solid #4aaaa5;
  }
  100% {
    border: 0.5px solid #4aaaa5;
  }
}

/* Specific Items */

.button {
  padding-left: 90px;
  margin-left: 5px;
}

main p {
  color: #8c7777;
}

ul > li {
  display: inline;
  padding: 25px 10px;
}

main > h3 {
  padding: 0px 20px 0px 10px;
}

.container-head * {
  display: inline;
}

.container-main {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background: #ddd;
}
.container-head {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 10px;
}

#head-name {
  background-color: #4aaaa4;
  position: relative;
  left: -10px;
  color: #fff;
  padding: 20px 20px 20px 20px;
}

#prof-pic {
  float: left;
  padding: 20px;
  margin: 20px;
  border: 0.5px solid #4aaaa5;
  border-radius: 10%;
}

#prof-pic:hover {
  animation: border-grow 2s ease;
}

.centered {
  grid-column: 1 / -1;
  justify-self: center;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
